@tailwind base;
@tailwind components;
@tailwind utilities;  

@layer base{

  * {
    @apply text-gray-900 text-base m-0 p-0 box-border;
  }
  h1{
    @apply text-5xl tracking-tighter leading-tight
  }
  p{
    @apply text-lg
  }
  a{
    @apply no-underline
  }
}

:root {
  font-family: "Golos Text", sans-serif;;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
