@tailwind base;
@tailwind components;
@tailwind utilities;  


:root {
  font-family: "Golos Text", sans-serif;;
  color: #232323;
  
  /* color-scheme: light dark; */

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  box-sizing: border-box;
}
